gradio
requests
gradio[oauth]
smolagents
wikipedia
openpyxl
pydub
mistralai
opencv-python
chess
SpeechRecognition
pypdf2
isodate
chromadb
html2markdown
fastapi
uvicorn
readability-lxml
pydantic
aiohttp
markdown
lxml[html_clean]